.About_img{
    width:85%;
    height:300px;
}
.about_content{
    margin-top: 7rem!important;
     /* border: 1px solid  red !important;  */
    
}
.about_button{
    border-color: #107C6F !important;
}
.about_heading{
    font-size: 2.5rem!important;
}
.resume_button{
    background-color: #0BBBA0!important;
    border-radius: 10rem !important;
    border-color: white!important;
}