
.project_card{
    position: relative;
    overflow: hidden;
    /* border: 1px solid red!important; */
}
.project_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

 .project_card:hover::before{
background-color: #0BBBA0;

}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.project_card:hover .card-text {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

}
.project_heading{
    font-size: 3.5rem!important;
    font-weight: 800;
}
.skills_technical{
   background-color: #107C6F !important;
}
.html_skills{
    width: 92%;
    background-color: #107C6F !important;
}
.css_skills{
    width:85%
}
.Bootstrap_skills{
    width:90%
}
.javascript__skills{
    width:75%
}
.React__skills{
    width:65%
}
.SQL__skills{
    width:70%
}
/* .prog_skills{
    border: 1px solid red!important;
 
} */
.progress__skills{
    border-radius:50%;
    width: 7rem;
    height: 7rem;
    border: 5px solid  #107C6F  !important;
    padding: 5px 6px;
    margin-top: 8% !important;
    box-shadow:   0 0 60px 30px #fff, !important;
  
}